
@{
    ViewBag.Title = "Thank you for nothing!!!";
}

<h2>Thank you for nothing really!!!</h2>

<p>
    Thank you for your 'Order' mate (remarks on the quote)
</p>
<p>
    Your 'order' id is = @ViewBag.OrderId
</p>

