@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Meeeeeeeeeeeeeeeeeeeeec!!</h1>
<h2 class="text-danger">Somethin' went wrong here... let me check with the manager.... don't you go nowhere</h2>

