@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

    <hgroup>
        <h1 class="text-danger">Block.</h1>
        <h2 class="text-danger">Oh my! You've been a naughty boy (or girl, we're inclusive here) this account is block right now. </h2>
        <h2 class="text-danger">Maybe you can try later... or don't, we're cool either way</h2>
    </hgroup>
